body::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('/images/background-crew.png');
  background-position: center left;
  background-repeat: no-repeat;
  filter: brightness(20%);
  z-index: -1;
}

main {
  justify-content: space-between;
  margin-top: 200px;
}

h5 {
  color: var(--white);
  position: relative;
}

h4 {
  opacity: 0.25;
  margin-bottom: 8px;
}

.crew-tabs {
  margin-top: 120px;
  display: flex;
  gap: 20px;

  & > button {
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--white);
    opacity: 0.25;

    &&:hover {
      opacity: 0.5;
    }

    &.active {
      opacity: 1;
    }
  }
}

.crew-image {
  margin-top: 35px;

  > hr {
    opacity: 0.25;
    display: none;
  }
}

.crew-img {
  /* position: absolute; */
  /* top: 14vw; */
  height: auto;
  width: min(40svw, 100%);
  /* right: 5vw; */
  z-index: -1;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    margin-top: 60px;
  }

  .crew-tabs {
    margin-top: 40px;
    justify-content: center;
  }

  .crew-image {
    align-self: center;
  }

  .crew-img {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 375px) {
  main {
    flex-direction: column-reverse;
    margin-top: 20px;
  }

  .crew-image > hr {
    display: block;
  }

  .crew-img {
    margin-top: 0;
  }

  h5 {
    margin-bottom: 0;
  }

  .crew-info {
    display: flex;
    flex-direction: column;
  }

  .crew-tabs {
    order: -1;
    margin-bottom: 35px;
  }
}
