.primary-navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  height: 96px;
}

.primary-navigation > * {
  flex: 1;
}

.icon {
  display: block;
  margin-left: 32px;
  width: 48px;
  height: 48px;
}

.hamburger-icon {
  display: none;
  position: absolute;
  right: 20px;
  top: 30px;
  z-index: 9999;
}

.primary-navigation nav {
  flex: 2;
  height: 100%;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(41px);
  z-index: 9998;
}

.primary-navigation-list {
  gap: clamp(5px, 2vw, 35px);

  & span {
    font-weight: 700;
  }
}

@media screen and (max-width: 768px) {
  .primary-navigation {
    padding-top: 0;
    height: 60px;
  }

  .primary-navigation nav {
    padding-inline: max(5px, 1vw);
  }

  .icon {
    margin-left: max(10px, 1vw);
    max-width: 40px;
    width: max(30px, 5vw);
    aspect-ratio: 1;
  }
}

@media screen and (max-width: 375px) {
  .hamburger-icon {
    display: block;
  }

  .primary-navigation nav {
    display: none;
    position: absolute;
    inset: 0 0 0 30%;
  }

  .primary-navigation-list {
    margin-top: 100px;
    flex-direction: column;
    gap: 30px;

    text-align: left;

    && a::after {
      height: 100%;
      width: 3px;
      top: 0;
      left: 105%;
    }
  }

  .primary-navigation-list span {
    display: inline;
  }
}
