/* * {
  outline: 2px solid red !important;
} */

:root {
  --primary: #0b0d17;
  --secondary: #d0d6f9;
  --white: #fff;
}

body {
  color: var(--white);
  font-family: 'Bellefair', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--primary);
}

h1 {
  font-size: 150px;
}

h2 {
  font-size: 100px;
}

h3 {
  font-size: 56px;
}

h4 {
  font-size: 32px;
  text-transform: uppercase;
}

h5 {
  font-size: 28px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  font-family: Barlow;
  color: var(--secondary);
  text-align: left;

  > span {
    font-weight: 700;
    opacity: 0.25;
    margin-right: 25px;
  }
}

.sub-heading-1 {
  font-size: 28px;
}

.sub-heading-2 {
  font-size: 14px;
  letter-spacing: 2.35px;
  font-family: 'Barlow';
  color: var(--secondary);
  margin-block: 10px;
}

p {
  color: var(--secondary);
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  line-height: 32px;
  max-width: 50ch;
}

.container {
  margin-top: 75px;
  width: 85%;
  margin-inline: auto;
  flex: 1;
}

main {
  display: flex;
  align-items: center;
}

nav {
  font-size: 16px;
  letter-spacing: 2.7px;
  padding-inline: 20px;
  font-family: Barlow;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul {
  display: flex;
  list-style: none;
  padding-left: 20px;
}

nav li {
  position: relative;

  & a::after {
    content: '';
    background: var(--white);
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -20px;
    display: none;
  }

  & a.active::after {
    display: block;
  }

  & a:hover::after {
    display: block;
    opacity: 0.5;
  }
}

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }

  nav {
    font-size: 14px;
    letter-spacing: 2.362px;

    & span {
      display: none;
    }
  }

  h2 {
    font-size: 80px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;

    letter-spacing: 3.375px;

    > span {
      margin-right: 20px;
    }
  }

  p {
    font-size: 16px;
    line-height: 28px;
  }

  .container {
    margin-top: 40px;
  }
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 56px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 16px;
    letter-spacing: 2.7px;
    text-align: center;

    > span {
      margin-right: 15px;
    }
  }

  p {
    font-size: 15px;
    line-height: 25px;
  }

  .container {
    margin-top: 25px;
  }
}
