body::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('/images/background-technology.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  filter: brightness(30%);
  z-index: -1;
}

main {
  /* justify-content: space-between; */
  gap: 100px;
  margin-top: 200px;
}

.nav-text {
  color: var(--secondary);
  font-family: Barlow Condensed;
  font-size: 16px;
  letter-spacing: 2.7px;
  margin-bottom: 10px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & button {
    width: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
    outline: 1px solid rgba(255, 255, 255, 0.25);

    &:hover {
      outline-color: #fff;
    }

    &.active {
      background: var(--white);
      color: var(--primary);
    }
  }
}

.technology-img {
  /* max-width: 50%; */
  max-height: 70svh;
  height: auto;
  width: 40svw;
  z-index: -1;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    margin-top: 20px;
    gap: 40px;
  }

  .nav {
    flex-direction: row;

    & button {
      width: 60px;
    }
  }

  .technology-image {
    order: -1;
    height: 350px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 100vw;
  }

  .technology-img {
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    width: 100%;
  }
}
